<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>

<br>

<%= link_to new_product_path do %>
  <button id="add-product-btn">+</button>
<% end %>
